<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <table>
            <tr>
                <th>title</th>
                <td><input type="text" name="title"></td>
                
            </tr>
            <tr>
                <th>description</th>
                <td><input type="text" name="description" ></td>
            </tr>
            <tr>
                <th>date</th>
                <td><input type="date" name="date" id=""></td>
            </tr>
            <tr>
                <td><input type="submit" name="submit" value="submit"></td>
            </tr>
        </table>
    </form>
</body>
</html> -->

<!--  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >

 {%include 'admin_header.html'%}
 <center>
    <div id="side-nav" class="table-background">
    <br><br><br><br>

        <h3 class="font-weight-bolder mb-0">normalnotification</h3>
        <br>
        
        <form method="post" class="">
            <table>
                <tr>
                    <th>title</th>
                    <td><input type="text" name="title" class="form-control"></td>
                    
                </tr>
                <tr>
                    <th>description</th>
                    <td><input type="text" name="description"   class="form-control" ></td>
                </tr>
                <tr>
                    <th>date</th>
                    <td><input type="date" name="date" id=""  class="form-control"></td>
                </tr>
                <tr>
                    <td><br></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"> <input type="submit" name="submit" value="submit" class="btn btn-primary"></td>
                </tr>
            </table>
        </form>
        <div>
         
           </div>
           </div>
   
 </center>
    
    


</body>
</html>