<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%include 'public_header.html'%}

<center>
    <br><br><br><br><br><br>
    <form method="post" class="form">        <table>
           <tr>
               <th  >description</th>
               <td><input type="text" name="description" class="form-control" ></td>
           </tr>
           <tr>
            <td><br></td>
           </tr>
           <tr>
            <th><br></th>
               <td colspan="2" align="center"><input type="submit" class="btn btn-info" name="submit" value="submit"></td>
           </tr>
           
           
        </table>
       </form>
</center>
    {%include 'footer.html'%}
</body>
</html>